[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gspread = "==6.2.1"
pandas = "==2.2.3"
protobuf = "==6.31.0"
streamlit = "==1.45.1"

[dev-packages]

[requires]
python_version = "3.10"
